# Auto detect text files and perform LF normalization
* text=auto
.jar filter=lfs diff=lfs merge=lfs -text
/.minecraft/mods/timm-1.0.3[[:space:]]for[[:space:]]1.20.1.jar filter=lfs diff=lfs merge=lfs -text
. !text !filter !merge !diff
