
/.minecraft/saves
/.minecraft/logs
/.minecraft/.fabric/processedMods
/.minecraft/mods/.index
/.minecraft/screenshots
.minecraft/usercache.json
.minecraft/usernamecache.json
/.minecraft/crash-reports
/.minecraft/modernfix/structureCacheV1
/.minecraft/logs
/.minecraft/XaeroWorldMap
/.minecraft/XaeroWaypoints
/.minecraft/config/chunky/tasks
/.minecraft/kubejs/probe
/ServerPackCreator
/Launcher/_Workspace/_upload
/.minecraft/data/surveyor
/.minecraft/.mixin.out
/.minecraft/.fabric/remappedJars
